@media screen and (max-width: 930px) {
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;
    }
    .click span{
        position: absolute ;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:first-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(40deg);
        top: 0;
    }
}